* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--typos-typo-2);
  background: var(--colors-beige);
}

.noscroll {
  overflow: hidden;
}

main {
  padding-top: var(--space-5x);
  padding-bottom: var(--space-5x);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4x);
  overflow-x: hidden;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--colors-gris);
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}
