/* Collection */
:root {
  /* Mode 1 */
  /* color */
  --colors-beige: #faffdc;
  --colors-blanc: #ffffff;
  --colors-bleu: #83a8c5;
  --colors-bleu-clair: #b4d8f4;
  --colors-gris: #313131;
  --colors-vert: #557d32;
  --colors-noir: #000000;
  /* string */
  --typos-typo-1: Poppins;
  --typos-typo-2: Montserrat;
  /* space */
  --space-1x: 20px;
  --space-2x: 30px;
  --space-3x: 40px;
  --space-4x: 80px;
  --space-5x: 120px;
  --space-6x: 160px;
  /* text-size */
  --size-1x: 11px;
  --size-2x: 13px;
  --size-3x: 18px;
  --size-4x: 22px;
  --size-5x: 24px;
  --size-6x: 36px;
  /* radius */
  --radius-1x: 10px;
  --radius-2x: 15px;
  --radius-3x: 20px;
}
