/* Collection */
:root {
  /* Mode 1 */
  /* color */
  --colors-beige: #faffdc;
  --colors-blanc: #ffffff;
  --colors-bleu: #83a8c5;
  --colors-bleu-clair: #b4d8f4;
  --colors-gris: #313131;
  --colors-vert: #557d32;
  /* string */
  --typos-typo-1: Poppins;
  --typos-typo-2: Montserrat;
  /* space */
  --space-1x: 40px;
  --space-2x: 80px;
  --space-3x: 120px;
  --space-4x: 160px;
}
