.btn {
  background: var(--colors-bleu);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-1x);
  color: var(--colors-blanc);
}

.article__btn {
  padding: 13px 18px;
  position: relative;
  left: 60%;
  top: 10%;
  max-width: 150px;
}
.btn__link {
  color: var(--colors-blanc);
}

.footer__btn {
  padding: 13px 18px;
  border-radius: var(--radius-2x);
  background-color: transparent;
  border: 2px solid var(--colors-blanc);
  color: var(--colors-blanc);
  left: 0;
  top: 0;
}

.article__btn--carrousel {
  background: var(--colors-bleu);
  display: flex;
  padding: 13px 18px;
  justify-content: center;
  align-items: center;
  width: 150px;
  position: relative;
  left: 0;
  top: 0;
  border-radius: var(--radius-1x);
}

.buy__btn {
  padding: 5px 10px;
  border-radius: var(--radius-2x);
}

.form__btn {
  padding: 15px 20px;
  position: relative;
  left: 70px;
  top: -40px;
}

.duotone__btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 60;
  scroll-behavior: smooth;
}

.duotone__btn a {
  scroll-behavior: smooth;
}

.duotone__btn img {
  scroll-behavior: smooth;
  width: 50px;
  height: 50px;
}
